.header {
    display: grid;
    grid-template-columns: 1fr auto 1fr;
    align-items: center;
    font-family: "Poppins", sans-serif;
    padding: 8px 12px;
    height: 64px;
    position: sticky;
    top: 0px;
    background-color: var(--main-color);
    z-index: 2;
}

.header h1 {
    margin: 0;
}
.Link a {
    font-weight: bold;
    font-size: 1.2rem;
}
.Link a:hover {
    font-size: 1.5rem;
}

.header .linkUl {
    padding: 0;
    justify-self: center;
    display: flex;
    justify-content: center;
    align-items: center;
    list-style: none;
    margin: 0px 8px;
    gap: 16px;
}
.right {
    justify-self: end;
}
.line {
    background-color: var(--text-color);
    width: 0%;
    height: 3px;
    opacity: 0;
    margin: 0;
    display: inline-block;
    border-radius: 100px;
    transition: 1s ease;
    user-select: none;
    pointer-events: none;
}
.header .Link > * {
    transition: 1s ease;
}
.header li > span {
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: center;
}
.header ul a {
    text-decoration: none;
    color: var(--text-color);
    margin: 0;
}

.header .Link:hover .line {
    width: calc(100% - 8px);
    height: 4px;
    opacity: 1;
}
.header .Link:hover {
    --text-color: #d67738;
}
.header .linkUl .Link:hover {
    font-size: 1.25rem;
}
.header .logbtn {
    border-style: none;
    padding: 8px 12px;
    font-family: "Poppins", sans-serif;
    font-size: 1.25rem;
    font-weight: bold;
    border-radius: 100px;
    background-color: var(--text-color);
    cursor: pointer;
    margin-left: 8px;
    user-select: none;
    transition: 1s ease;
}
.header .logbtn:hover {
    transform: scale(1.1);
    --text-color: #d67738;
}

.pfp {
    height: 48px;
    background-color: transparent;
    aspect-ratio: 1;
    border-radius: 100px;
    width: auto;
    user-select: none;
}

.dropBtn {
    margin-right: 24px;
    height: auto;
    position: relative;
    border-style: none;
    border-radius: 12px;
    background-color: transparent;
    font-family: "Poppins";
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 6px 4px;
    user-select: none;
    transition: all 0.1s ease-out;
    cursor: pointer;
}

.dropBtn:hover {
    transform: scale(1.10);
}
.cartRight {
    display: flex;
    flex-direction: column;
    align-items: start;
}
.cartItemLength {
    position: absolute;
    right: -15px;
    top: -5px;
    border-radius: 100px;
    aspect-ratio: 1;
    margin: 0;
}
.cartItemLength::after {
    content: "";
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    width: 25px;
    height: 25px;
    background-color: #ffffff;
    border-radius: 50%;

    z-index: -1;
}
.cartRight h2 {
    margin: 0;
    font-size: 1rem;
}
.dropBtn img{
    aspect-ratio: 1;
    height: 40px;
    margin-right: 12px;
}

.cartRight p {
    margin: 0;
}
.div {
    display: inline-block;
    height: 40px;
    width: 3px;
    border-radius: 100px;
    user-select: none;
    background-color: rgba(255, 255, 255, 0.05);
}

.Hdiv {
    display: inline-block;
    height: 2px;
    width: 100%;
    border-radius: 100px;
    user-select: none;
    background-color: rgba(255, 255, 255, 0.05);
}

.GenericDropdownList {
    padding: 8px 16px;
    border-radius: 16px;
    transform: translateY(12px);
    justify-self: center;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    list-style: none;
    position: absolute;
    right: 12px;
    margin: 0px 8px;
    background-color: #eaeaea;
    border-color: #ccc;
    border-width: 4px;
    border-style: solid;
    z-index: 10;
    animation: fadeIn 0.5s ease forwards;
}

@keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

.header .DropdownListLink .logbtn {
    border-style: none;
    padding: 8px 12px;
    font-family: "Poppins", sans-serif;
    font-size: 1rem;
    width: 100%;
    font-weight: bold;
    border-radius: 100px;
    background-color: var(--text-color);
    cursor: pointer;
    margin-left: 8px;
    user-select: none;
    transition: 1s ease;
}

.pfpBtn {
    padding: 3px;
    margin: 0;
    border: none;
    background: none;
    cursor: pointer;
    margin-right: 12px;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: all 0.1s ease;
}
.pfpBtn:hover {
    transform: scale(1.1);
}
.AccountDropDown h1 {
    margin: 0;
    font-weight: normal;
    font-size: 1.5rem;
}
.AccountDropDown h4 {
    margin: 0;
    font-weight: normal;
    opacity: 0.4;
}
.AccountDropDown ul {
    padding: 8px 64px;
    display: flex;
    margin: 0;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.AccountDropDown img {
    aspect-ratio: 1;
    height: 128px;
    margin-top: 16px;
    margin-bottom: 8px;
    border-radius: 100%;
}
.AccountDropDownBtn {
    width: 100%;
    padding: 6px !important;
    border-radius: 16px;
    margin: 0;
    background-color: rgba(255, 255, 255, 0.05);
}
.AccountDropDownBtn button {
    border-style: none;
    padding: 8px 12px;
    font-family: "Poppins", sans-serif;
    font-size: 1.25rem;
    width: 100%;
    font-weight: bold;
    border-radius: 100px;
    background-color: #aaa;
    cursor: pointer;
    margin: 8px 0px;
    user-select: none;
    transition: 1s ease;
}

.Logo {
    aspect-ratio: 1;
    width: 64px;
}
.LogoSection {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
    width: max-content;
}
.LogoText h4 {
    margin: 0;

    font-family: "Poppins", sans-serif;
    font-size: 1.5rem;
    color: #000000;
}

@media (max-width: 600px){
    .LogoText{
        display: none !important; 
    }
}